<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Virtual Closet</title>

    <!-- OUR CSS AND JS -->
    <link rel="stylesheet" href="/style.css">

</head>