<nav class="headbox">
    <h1 class="headitem headtitle">My Virtual Closet</h1>

    <div class="headitem navbox">
        <h3 class="navitem navuser"><%=user.username%></h3>
        <a href="/mycloset"><button class="navitem">Home</button></a>
        <a href="/user/logout"><button class="navitem">Logout</button></a>
        <a href="/user/signup">
            <button class="navitem">Create Account</button>
        </a>
    </div>
</nav>