<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Virtual Closet</title>
</head>
<body>
    <h1>My Virtual Closet</h1>
    <% for (let i = 0; i < apparel.length; i++) { %>
        <a href="./mycloset/<%=apparel[i]._id%>">
            <h1><%= apparel[i].nickname %></h1>
        </a>
    <% } %>
    
</body>
</html>