<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head.ejs")%>
<body>
    <main>
        <div>
            <h1 class="accesstitle">My Virtual Closet</h1>
        </div>
        <div>
            <form action="/user/login" method="POST">
                <fieldset class="userbox">
                    <legend>Login</legend>
                    <label>
                        <input class="userinput" type="text" name="username" placeholder="username">
                    </label>
                    <label>
                        <input class="userinput" type="password" name="password" placeholder="password">
                    </label>
                    <button>Login</button>
                    <a href="/user/signup">
                        <button>Create an Account</button>
                    </a>
                </fieldset>
                
                
            </form>
            
        </div>
    </main>
</body>
</html>