<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Virtual Closet</title>
</head>
<body>
    <main>
        <div>
            <form action="/user/signup" method="POST">
                <fieldset>
                    <legend>Create an Account</legend>
                    <label>
                        <input type="text" name="username" placeholder="username">
                    </label>
                    <label>
                        <input type="password" name="password" placeholder="password">
                    </label>
                </fieldset>
                <button>Create your Account</button> 
            </form>
        </div>
    </main>
</body>
</html>