<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <main>
        <div>
            <h1 class="accesstitle">My Virtual Closet</h1>
        </div>
        <div>
            <form action="/user/signup" method="POST">
                <fieldset class="userbox">
                    <legend>Create an Account</legend>
                    <label>
                        <input class="userinput" type="text" name="username" placeholder="username">
                    </label>
                    
                    <label>
                        <input class="userinput" type="password" name="password" placeholder="password">
                    </label>
                    <button>Create your Account</button> 
                </fieldset>
                
            </form>
        </div>
    </main>
</body>
</html>