/* every page will be antique white */

body {
    background-color: rgb(196, 198, 171);
}

/* signup and login page styling */


.accesstitle {
    color: rgb(65, 119, 65);
    text-align: center;
    text-shadow: 2px 2px 8px lightgreen;
    margin-top: 2vh;
}

legend {
    color: rgb(65, 119, 65);
    text-shadow: 2px 2px 8px lightgreen;
}

.userbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    max-width: 300px;
    height: 20vh;
    margin-top: 8vh;
    border-radius: 2vh;
}

.userinput {
    margin: 5px;
    border: none;
    text-align: center;
}


/* All buttons will be same format */

button {
    border-radius: 3vh;
    background-color: rgb(65, 119, 65);
    color: azure;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}


/* styling the nav on each screen */

.headbox {
    display: flex;
    justify-content: space-between;
}





.navbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 3px;
    border-radius: 2vh;
    max-width: fit-content;
}

.navitem {
    margin: 3px;
}

.navuser {
    color: black;
    font-size: .9em;
    text-align: center;
    padding: 2px;
}

.headtitle {
    color: rgb(65, 119, 65);
    text-shadow: 2px 2px 8px lightgreen;
    margin: 5vh 2vw;
    font-size: 1.5em;
}

@media (min-width: 580px) {
    .headbox {
        column-gap: 30%;
    }
    .headtitle {
        font-size: 2em;
    }
    .navbox {
        max-width: fit-content;
    }
}
/* styling for Index page */

.apparelbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.apparelitem {
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    border-radius: 2vh;
    max-width: fit-content;
    padding: 15px;
    background-color: rgb(65, 119, 65);
}

.addbutton {
    border-radius: 3vh;
    background-color: rgb(65, 119, 65);
    color: azure;
    text-align: center;
    margin-bottom: 2vh;
    

}

@media (min-width: 580px) {
    .apparelbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }

}