<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <div>
        <%- include("../partials/loginnav.ejs") %>
    </div>
    <% for (let i = 0; i < apparel.length; i++) { %>
        <a href="./mycloset/<%=apparel[i]._id%>">
            <h1><%= apparel[i].nickname %></h1>
        </a>
    <% } %>
    
    <a href="/mycloset/new">
        <button>Add to Closet</button>
    </a><br>
    <a href="/user/signup">
        <button>Create New Account</button>
    </a>
</body>
</html>