<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Virtual Closet</title>
</head>
<body>
    <main>
        <div>
            <h1>My Virtual Closet</h1>
            <%- include("../partials/loginnav.ejs") %>
        </div>
        <div>
            <form action="/mycloset" method="POST">
                <fieldset>
                    <legend>Add your new Apparel</legend>
                    <label>
                        Nickname: <input type="text" name="nickname" placeholder="the go-to">
                    </label>
                    <label>
                        Type: <input type="text" name="type" placeholder="jeans, hat, buttondown, etc">
                    </label>
                    <label>
                        Brand: <input type="text" name="brand" placeholder="Addidas">
                    </label>
                    <label>
                        Size: <input type="text" name="size" placeholder="32W, M, 11.5, etc">
                    </label>
                </fieldset>
                <button>Add to my closet</button> 
            </form>
        </div>
    </main>
</body>
</html>